a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA; 
       
}
/*------------------*/
.section{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    }
    .title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .period{
        color: #A8A8A8;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 8px;
    }

    .text{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-left: 20px;
        color: #595959;
    }
    .orange{
        color: orange;
          }


/*------Header--------*/
.header{
    margin-bottom: 70px;
    align-items: center;
}
.header-text{
 display: flex;   
 justify-content: space-around;
align-items: center;

    }


.header-text a{
    font-size: 14px;
    transition: 0.3s;
}
.header-text a:hover{
    
    text-decoration: underline;
    color: #ddb812;
}
/*-------------------*/
.about-me-profession{
font-style: normal;
font-size: 14px;
line-height: 17px;
font-weight: bold;
color: rgb(189, 19, 19);
margin-bottom: 20px;
}
.me{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
 color: rgb(189, 19, 19);
        
}
.Main-section{
   
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.Main-section1{
    padding: 20px 90px 0 90px;
   /* background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;*/
}
h1{
font-weight: 700;
font-size: 45px;
line-height: 55px;
margin-bottom: 25px;
}

.My-project-section{
    margin: 0 0 50px 0;
}

.Projects-nav{ 
color: #595959;
font-weight: 400;
font-size: 14px;
line-height: 24px;
padding-left: 20px;
}
.Projects-nav a{
    transition: color 0.25s;  
}
.Projects-nav a:hover{
    color: #97cf14;
    text-decoration: underline;
}
h5{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;    
}
.Work-Experience, .Education{
    margin-top: 40px;
} 

select{
    padding: 10px 90px 10px 90px;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    padding-left: 20px;
    color: #ad1d1d;
    background-color: #cecb31;
}
/*-----Code----------*/
.Code_Example{
    background: #f3f1f1;
   
}

/* Sidebar section*/
.Sidebar{
    background-color: #1E2939;
    color: #fff;
    Width: 370px;
    height: 1150px;
    padding-top: 40px;
    
}

.Sidebarh{
    font-style: normal;
    font-weight: bolt;
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 25px;
    padding-left: 40px;

    
}
.Contacts-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
    padding-left: 40px;
}

    .tel, 
    .mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
    margin-right: 10px;
    transition: 0.3s;
}
    .mail:hover, .tel:hover{
        color: #c2ce55;
        text-decoration: underline;
    }


.Tech-Skills-list,
.Soft-Skills-list
{
    padding-left: 60px;
}

.Tech-Skills-item,
.Soft-Skills-items
{
color: orange;
}

.Tech-Skills-item-text,
.Soft-Skills-item-text
{
    color:#fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
/*------social-----------*/
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    
  }
  .social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .social-icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 40px;
  }
  .social-icons a:hover {
    background-color: #e0e0e0;
  }
  .social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 60% 60%;
  }
  
  .social-icons .social-icon-vk::before {
    background-image: url("...");
  }
  .social-icons .social-icon-telegram::before {
    background-image: url("...");
  }
  /*-------Footer---------------*/
  .footer {
    width: 1200px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 
 
 .footer *:not(:last-child){
    margin: 0 200px 0 0;}

